:root {
  --color-accent: gold;
  --color-background-accent: white;
  --color-highlight: #334155;
}

html {
  scroll-behavior: smooth;
}

/* Reset styles to default */
* {
  box-sizing: border-box;
  /* Prevent everything overflowing */
  margin: 0;
  padding: 0;
  font-family: "Inter", "sans-serif";
}

p,
h2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  /* Spread paragraph texts */
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: var(--color-accent);
  color: #0f172a;
}

.underlay {
  position: fixed;
  background: white;
  inset: 0;
  opacity: 0;
}

main,
footer {
  position: relative;
  z-index: 10;
}

.light-text {
  color: var(--color-highlight);
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0;
}

.sticky-header h2 {
  position: relative;
  z-index: 2;
  /* Modify order of the things on the page */
}

.sticky-header::before {
  content: "";
  position: absolute;
  inset: 0;
  /* Same dimension as the parent element */
  background: #101A31;
  opacity: 0.9;
}

.anchor-text {
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
  cursor: pointer;
}

.anchor-text:hover {
  color: var(--color-accent);
}

.experience-content,
.projects-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-card {
  display: grid;
  /* Number of columns displayed in grid*/
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.project-card {
  gap: 1rem;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-title:hover span {
  padding-left: 0.5rem;
}

.project-image-container {
  max-width: 200px;
  overflow: hidden;
  display: grid;
  /* Easiest way to center one element in div with place-items */
  place-items: center;
  aspect-ratio: 16 / 9;
  order: 2;
  border-radius: 0.5rem;
}

.project-image-container img {
  object-fit: cover;
  /* Cover every part of container */
  width: 100%;
  height: 100%;
}

.project-stat-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.resume-and-archive-link {
  position: relative;
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
  margin-right: auto;
}

.resume-and-archive-link span {
  transition-duration: 200ms;
}

.resume-and-archive-link:hover span {
  padding-left: 0.5rem;
}

.resume-and-archive-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  background: transparent;
  transition-duration: 200ms;
}

.resume-and-archive-link:hover::after {
  background: var(--color-accent);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
}

footer p {
  font-size: 0.9rem;
}

.scroll-to-top {
  text-decoration: none;
  color: var(--color-accent);
  background: var(--color-background-accent);
  padding: 0 0.75rem;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 100%;
  overflow: hidden;
  transition-duration: 200ms;
}

.scroll-to-top:hover {
  opacity: 0.6;
}

.right-dash-arrow {
  font-size: 1.2rem;
  font-weight: bolder;
}

@media (min-width: 640px) {

  .project-card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .project-image-container {
    order: 0;
  }
}

@media (min-width: 1024px) {
  .sticky-header {
    display: none;
  }

  footer {
    grid-column: span 2 / span 2;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    /* Extra spacing on bigger screens */
    width: 100%;
  }
}